<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example_for_wsrj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_news_detals" android:label="НОВОСТИ">
            <intent-filter>
                <action android:name=".activity_news_detals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".regis_activity_wsr"
            android:label="Регистрация">
            <intent-filter>
                <action android:name=".regis_activity_wsr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".id"
            android:label="Авторизация">
            <intent-filter>
                <action android:name=".id" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profil_activity_wsrj"
            android:label="ПРОФИЛЬ">
            <intent-filter>
                <action android:name=".profil_activity_wsrj" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news_activity_wsr"
            android:label="НОВОСТИ">
            <intent-filter>
                <action android:name=".news_activity_wsr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>